.ari {
    background-color: #97233f;
    color: #ffb612;
}

.atl {
    background-color: #a71930;
    color: #a5acaf;
}

.bal {
    background-color: #241773;
    color: #9e7c0c;
}

.buf {
    background-color: #00338d;
    color: #c60c30;
}

.car {
    background-color: #0085ca;
    color: #bfc0bf;
}

.chi {
    background-color: #0b162a;
    color: #c83803;
}

.cin {
    background-color: #fb4f14;
    color: #000
}

.cle {
    background-color: #311d00;
    color: #ff3c00
}

.dal {
    background-color: #003594;
    color: #869397;
}

.den {
    background-color: #fb4f14;
    color: #002244;
}

.det {
    background-color: #0076b6;
    color: #b0b7bc
}

.gb {
    background-color: #203731;
    color: #ffb612
}

.hou {
    background-color: #03202f;
    color: #a71930;
}

.ind {
    background-color: #002c5f;
    color: #a2aaad;
}

.jax {
    background-color: #006778;
    color: #9f792c;
}

.kc {
    background-color: #e31837;
    color: #ffb81c;
}

.lv {
    background-color: #000000;
    color: #a5acaf;
}

.lac {
    background-color: #0080c6;
    color: #ffc20e;
}

.lar {
    background-color: #003594;
    color: #ffa300;
}

.mia {
    background-color: #008e97;
    color: #fc4c02;
}

.min {
    background-color: #4f2683;
    color: #ffc62f;
}

.ne {
    background-color: #002244;
    color: #c60c30;
}

.no {
    background-color: #d3bc8d;
    color: #101820;
}

.nyg {
    background-color: #0b2265;
    color: #a71930;
}

.nyj {
    background-color: #125740;
    color: #ffffff;
}

.phi {
    background-color: #004c54;
    color: #a5acaf;
}

.pit {
    background-color: #ffb612;
    color: #101820;
}

.sf {
    background-color: #aa0000;
    color: #b3995d;
}

.sea {
    background-color: #002244;
    color: #69be28;
}

.tb {
    background-color: #d50a0a;
    color: #ff7900;
}

.ten {
    background-color: #4b92db;
    color: #c8102e;
}

.was {
    background-color: #5a1414;
    color: #ffb612;
}
