div.Game {
    border: solid blue 1px;
    display: inline-flex;
    flex-direction: column;
}

div.TeamScore {
    display: flex;
    justify-content: space-between;
}

div.TeamScore label {
    padding-left: 15px;
}